
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Patrick+Hand&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



.switch {
    /* switch */
    --switch-width: 46px;
    --switch-height: 24px;
    --switch-bg: rgb(131, 131, 131);
    --switch-checked-bg: rgb(0, 218, 80);
    --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
    --switch-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    /* circle */
    --circle-diameter: 18px;
    --circle-bg: #fff;
    --circle-shadow: 1px 1px 2px rgba(146, 146, 146, 0.45);
    --circle-checked-shadow: -1px 1px 2px rgba(163, 163, 163, 0.45);
    --circle-transition: var(--switch-transition);
    /* icon */
    --icon-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
    --icon-cross-color: var(--switch-bg);
    --icon-cross-size: 6px;
    --icon-checkmark-color: var(--switch-checked-bg);
    --icon-checkmark-size: 10px;
    /* effect line */
    --effect-width: calc(var(--circle-diameter) / 2);
    --effect-height: calc(var(--effect-width) / 2 - 1px);
    --effect-bg: var(--circle-bg);
    --effect-border-radius: 1px;
    --effect-transition: all .2s ease-in-out;
  }
  
  .switch input {
    display: none;
  }
  
  .switch {
    display: inline-block;
  }
  
  .switch svg {
    -webkit-transition: var(--icon-transition);
    -o-transition: var(--icon-transition);
    transition: var(--icon-transition);
    position: absolute;
    height: auto;
  }
  
  .switch .checkmark {
    width: var(--icon-checkmark-size);
    color: var(--icon-checkmark-color);
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  
  .switch .cross {
    width: var(--icon-cross-size);
    color: var(--icon-cross-color);
  }
  
  .slider {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: var(--switch-width);
    height: var(--switch-height);
    background: var(--switch-bg);
    border-radius: 999px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-transition: var(--switch-transition);
    -o-transition: var(--switch-transition);
    transition: var(--switch-transition);
    cursor: pointer;
  }
  
  .circle {
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    background: var(--circle-bg);
    border-radius: inherit;
    -webkit-box-shadow: var(--circle-shadow);
    box-shadow: var(--circle-shadow);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: var(--circle-transition);
    -o-transition: var(--circle-transition);
    transition: var(--circle-transition);
    z-index: 1;
    position: absolute;
    left: var(--switch-offset);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    width: var(--effect-width);
    height: var(--effect-height);
    left: calc(var(--switch-offset) + (var(--effect-width) / 2));
    background: var(--effect-bg);
    border-radius: var(--effect-border-radius);
    -webkit-transition: var(--effect-transition);
    -o-transition: var(--effect-transition);
    transition: var(--effect-transition);
  }
  
  /* actions */
  
  .switch input:checked+.slider {
    background: var(--switch-checked-bg);
  }
  
  .switch input:checked+.slider .checkmark {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  
  .switch input:checked+.slider .cross {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
  
  .switch input:checked+.slider::before {
    left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
  }
  
  .switch input:checked+.slider .circle {
    left: calc(100% - var(--circle-diameter) - var(--switch-offset));
    -webkit-box-shadow: var(--circle-checked-shadow);
    box-shadow: var(--circle-checked-shadow);
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main
{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    /* width: 100%;
    height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainheading{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-family: "Poppins", sans-serif;
  
}


.box{
    width:40vw;
    background-color: #0A0E31;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
    padding: 25px 10px;
}

.password,.rangeselector,.settings,.generate,.subsettings{
    width: 90%;
    height: 50px;
    background-color: #1D2141;
    margin: 0px auto;
    border-radius: 4px;
}

.rangeselector{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subrange{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.length{
    margin-left: 8px;
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 400;
}

.subrange{
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 400;
}

.rangeslider{
    width: 80%;
    height: 2px;
}

.subsettings{
    /* font-family: "Roboto", sans-serif; */
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
}

.settingstext , .toggleswitch{
    display: flex;
    justify-content: center;
    align-items: center;
}

.generate{
    border: none;
    background: rgb(105,115,219);
    background: linear-gradient(90deg, rgba(105,115,219,1) 0%, rgba(115,84,174,1) 100%); 
    font-family: "Poppins", sans-serif;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    cursor: pointer;
}

.password{
  display: flex;
  justify-content: center;
  align-items: center;
}



.passwordtext{
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 800;
  text-align: center;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy{
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.copyimg{
  width:30px;
  
}

.copiednotify{
  color: white;
  font-size: 10px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.unvisiblecopied{
  display: none;
}




@media (width<774px) {
  
  main{
    align-items: start;
    height: 100vh;
    background-color: #0A0E31;


    /* height: auto; */
  }

  .container{
    margin-top:50px ;
    width: 100vw;
    /* height: 100vh; */
    justify-content: start;
  }
  .box{
    width: 100vw;
    
  }
  
}


























